.inputFields{
    margin-top: 10px;
    background-color: #c8dae0;
    border-radius: 10px;
    border:0px solid transparent;
    height: 2.0rem;
    padding: 3px 70px;
}
.formfield{
   
}
button{
    padding: 10px;
    background-color: white;
    color: green;
    border-radius: 10px;
    
    border: 0px solid grey;
    margin: 10px 10px;
   
    
}
#rbtn{
    padding: 10px 40px;
    color: green;
    font-weight: 700;
}